<div class="container" >
  <div class="row">
  <div style="display: none;"> <iframe id='iFramePdf' src=''> </iframe></div>
    <div class="col-md-8 print-area" id="htmlData" >
      <table class="table table-bordered" style="margin-top: 5%;">
        <tr class="table-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr *ngFor="let user of USERS">
          <th>{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
      <button class="btn btn-success btn-block" (click)="print()">open PDF</button>

    </div>

  </div>
</div>